<html>
<head>
  <link rel="icon" href="/logo/titlelogo1.svg" type="image/icon type">
</head>
 
<%- include("partials/header"); -%>
    <h1>Team Codemaster</h1>
    <p> <%= startingContent %> </p>
    <a href="http://127.0.0.1:5500/"><button class="btn btn-primary">Back to home</button></a>
    <a href="http://127.0.0.1:4000/compose"><button class="btn btn-primary" type="submit" name="button">Compose</button></a>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 280) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    <% }) %>


<%- include("partials/footer"); -%>
</html>
<style>
  button a{
    text-decoration: none;
    color: white;
  }
  button a:hover{
    color: white;
    text-decoration: none;
  }
</style>